.grid {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.nameRate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-psico {
    background-color: $primary-color;
    border-radius: 7px;
    border: 1px solid;
    border-color: $tertiary-color;
    padding: 7px;
    transition: .5s;
    color: $tertiary-color;
}

.btn-psico:hover {
    background-color: $tertiary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
}

@media (max-width: $smaller-screen) {

}

@media (max-width: $small-screen) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: $medium-screen) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: $large-screen) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: $extra-large-screen) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $xx-large-screen) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: $xxx-large-screen) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}